<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Docker</WebPublishMethod>
    <PublishProvider>FunctionsContainer</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://azupdatefunc2.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/69839b8b-8fe5-4cf7-a3f3-3503fd14c2a6/resourceGroups/rg-AzUpdate/providers/Microsoft.Web/sites/AzUpdateFunc2</ResourceId>
    <IsLinux>true</IsLinux>
    <ContainerResourceId>/subscriptions/69839b8b-8fe5-4cf7-a3f3-3503fd14c2a6/resourceGroups/rg-AzUpdate/providers/Microsoft.ContainerRegistry/registries/acrazupdate</ContainerResourceId>
    <ContainerResourceName>acrazupdate</ContainerResourceName>
    <Subscription>MCAPS-Hybrid-REQ-37931-2022-taeyok</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>acrazupdate.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
  </PropertyGroup>
</Project>