<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Docker</WebPublishMethod>
    <PublishProvider>FunctionsContainer</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://projectupfunc.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/29aa4b40-0c9b-4335-809d-4f078646edd9/resourceGroups/rg-ProjectUp-Krc/providers/Microsoft.Web/sites/ProjectUpFunc</ResourceId>
    <IsLinux>true</IsLinux>
    <ContainerResourceId>/subscriptions/29aa4b40-0c9b-4335-809d-4f078646edd9/resourceGroups/rg-ProjectUp-Krc/providers/Microsoft.ContainerRegistry/registries/projectup</ContainerResourceId>
    <ContainerResourceName>projectup</ContainerResourceName>
    <Subscription>JYSEONG</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>projectup-a8hgc9hacbbrgwag.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
  </PropertyGroup>
</Project>